server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital_er
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

app:
  cors:
    origins: http://localhost:5173,http://localhost:3000

logging:
  level:
    org.hibernate.SQL: INFO
